.view-page {
    display: grid;
    place-content: center;
    height: 100%;
}

.add-new-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.add-new-btn button {
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.view-contact img {
    width: 8rem;
    border-radius: 100%;
}

.view-contact {
    display: flex;
    gap: 2rem;
}

.view-contact h2 {
    /* font-weight: 600; */
    font-size: 21px;
}

.view-contact h3 {
    font-weight: 400;
    font-size: 18px;
}

.action-button {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.action-button button {
    outline: none;
    background-color: var(--fifth-color);
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    margin: 4px;
    cursor: pointer;
}

.action-button button {
    background-color: var(--forth-color);
}

.action-button button:hover {
    opacity: 0.6;
}

.action-button button:first-child {
    background-color: var(--secondary-color);
}

.action-button button:nth-child(2) {
    background-color: var(--fifth-color);
}
